{
  "parser": "babel-eslint",
  "env": {
//    "node": true,
//    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {

    }
  },
  "rules": {
    "no-console": 0,
    "import/no-named-as-default": 0
  },
  "extends": [
    "airbnb"
  ]
}