* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: $back;
  color: $text;
  font: 12px/1 'Open Sans', sans-serif;
}

body {
  height: 100%;
  background: $back;
  color: $text;
  font: 12px/1 'Open Sans', sans-serif;
}

.wrapper {
  margin: 20px auto;
  padding-bottom: 20px;
}

.margin-bottom_20 {
  margin-bottom: 20px;
}

.margin-bottom_10 {
  margin-bottom: 10px;
}

.block {
  min-height: 30px;
  background: $white;
  box-shadow: 0 3px 2px $black_10;
  text-align: center;
  padding: 20px;
}

.pure-block {
  min-height: 30px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.inner-block {
  margin: 10px;
}

@media all and(min-width: 500px) {
  .wrapper {
    padding: 0 20px;
    background-color: $wrapback;
    padding-top: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
  }
}

@media all and(min-width: 1000px) {
  .wrapper {
    max-width: 1000px;
    padding-bottom: 20px;
  }
}

h2 {
  font: 600 20px/1 'Open Sans', sans-serif;
  color: $h2;
  margin: 20px 0;
}

h3 {
  font: 600 15px/1 'Open Sans', sans-serif;
  color: $h3;
  margin: 20px 0;
}

h4 {
  font: 600 20px/1 'Open Sans', sans-serif;
  color: $h3;
  margin: 0;
  padding: 0;
}

p {
  font: 12px/1 'Open Sans', sans-serif;
  color: $text;
}

a {
  color: $text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.no-back {
  background-color: $wrapback;
}

.yellow {
  background: $yellow;
}

.blue {
  background: $blue;
}

.red {
  background-color: $red;
  h3 {
    color: #fff;
  }
}

.green {
  background: $green;
}

.quit {
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}

.button-text {
  color: $white;
  padding: 0;
  vertical-align: middle;

  a, span, p, button {
    cursor: pointer;
    text-shadow: #888 1px 1px;
    padding: 20px;
    vertical-align: baseline;
    color: $white;
    font-weight: 700;
    display: block;
  }

  p {
    cursor: default;
    position: relative;
  }

  span:hover {
    text-decoration: underline;
  }

  button:hover {
    text-decoration: underline;
  }
}

.inactive-button {
  background-color: #999;
  pointer-events: none;
  cursor: default;
}

.rounded {
  border-radius: $radius;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-type-ok {
  color: $green;
}

.text-type-error {
  color: $red;
  text-decoration: line-through;
}

.audio-icon {
  margin-left: 10px;
  font-size: 22px;
  font-style: normal;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}


.head-table {
  border-bottom: 1px solid $blue;
  margin-bottom: 10px;
  font: 600 14px/1 'Open Sans', sans-serif;
  color: $blue;
}

.cell-table {
  font: 400 14px/1 'Open Sans', sans-serif;
}

.img-container {
  padding: 5px;
  max-height: 480px;
  img {
    height: 100%;
  }
}

.icon-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-style: normal;
  cursor: pointer;
  font-size: 18px;
}
