* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: $back;
  color: $text;
  font: 12px/1 'Open Sans', sans-serif;
}

body {
  height: 100%;
  background: $back;
  color: $text;
  font: 12px/1 'Open Sans', sans-serif;
}

.wrapper {
  margin: 20px auto;
  padding-bottom: 20px;
}

.margin-bottom_20 {
  margin-bottom: 20px;
}

.margin-bottom_10 {
  margin-bottom: 10px;
}

.block {
  min-height: 30px;
  background: $white;
  box-shadow: 0 3px 2px $black_10;
  text-align: center;
  padding: 20px;
}

.pure-block {
  min-height: 30px;
  text-align: center;
  padding: 20px;
}

.inner-block {
  margin: 10px;
}

@media all and(min-width: 500px) {
  .wrapper {
    padding: 0 20px;
    background-color: $wrapback;
    padding-top: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
  }
}

@media all and(min-width: 1000px) {
  .wrapper {
    max-width: 1000px;
    padding-bottom: 20px;
  }
}

h2 {
  font: 600 20px/1 'Open Sans', sans-serif;
  color: $h2;
  margin: 20px 0;
}

h3 {
  font: 600 15px/1 'Open Sans', sans-serif;
  color: $h3;
  margin: 20px 0;
}

p {
  font: 12px/1 'Open Sans', sans-serif;
  color: $text;
}

a {
  color: $text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.no-back {
  background-color: $wrapback;
}

.yellow {
  background: $yellow;
}

.blue {
  background: $blue;
  color: $white;
}

.red {
  background-color: $red;
  color: $white;
}

.green {
  background: $green;
  color: $white;

  a {
    color: $white;
  }
}

.rounded {
  border-radius: $radius;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

