//colors
$wrapback: #e1e1e1;
$back: #f1f1f1;
$text: #333;
$white: #fff;
$black_10: rgba(0, 0, 0, 0.1);
$h2: #888;
$h3: #999;
$yellow: #ffdb4d;
$blue: #5cadff;
$red: #ff5353;
$green: #33d685;

//other vars
$radius: 100px;